OPENAI_API_KEY=
TRACE_BACKEND=langfuse
MLFLOW_EXPERIMENT_ID=0
LOG_LEVEL=debug/quit
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

OTEL_EXPORTER_OTLP_ENDPOINT="https://cloud.langfuse.com/api/public/otel/v1/traces"
OTEL_EXPORTER_OTLP_INSECURE=False
OPIK_API_KEY=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
LANGFUSE_AUTH_STRING=

SESSION_ID=""